body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    .wrapper {
        min-height: calc(100vh - 112px);
        padding: 50px 0;
    }
    .navbar-dark {
        .navbar-nav {
            .nav-link {
                &.router-link-exact-active {
                    color: #fff;
                }
            }
        }
    }
}

